.custom-img {
    min-width: 260px;
    min-height: 300px;
    
    cursor: pointer;
}


.photo-container {
  
    position: relative;
    overflow: hidden;
    margin: 1rem; /* Ensure consistent margin */
}
.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
   
}