.card {
    border: 10px solid #dee2e6;
    border-radius: 0.25rem;
    overflow: hidden;
    margin-bottom: 1rem;
    max-height: 300px;
    max-width: 1000px;
}

.img-container {
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    overflow: hidden;
    position: relative;
}

.employee-class-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: rgb(119, 152, 119);
}

.details {
    flex: 1;
    padding: 1rem;
    font-size: medium;
}

.info {
    flex: 1;
}

button {
    margin-top: 0.5rem;
}

@media (max-width: 768px) {
    .custom-img {
        height: 150px; /* Adjust image height for medium screens */
    }

    .image-container {
        flex: 0 0 120px; /* Slightly smaller fixed width */
    }

    
}

@media (max-width: 576px) {
    .custom-img {
        height: 100px; /* Smaller height for very small screens */
    }

    .image-container {
        flex: 0 0 100px; /* Fixed width for smallest screens */
    }

    .details {
        font-size: 0.8rem; /* Further reduce text size */
    }
}