.search-by-date-arrows{
    width: 80px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.search-by-date-arrows:hover{
    background-color: rgba(205, 195, 195, 0.597);
    cursor: pointer;
}
.price-box{
    background-color: rgba(169, 235, 26, 0.472);
}
.custom-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
/* Make sure no overflow is limiting sticky positioning */




.image-container {
    flex: 0 0 150px;
    max-width: 300px; /* Do not grow or shrink, fixed width */
}




